/*
 * CSS Reset
 */
body{
  margin: 0;
  padding: 0;
  border: 0;
}

a{
  text-decoration: none;
  color: #1da0f1;
}

a:hover{
  text-decoration: underline;
}

a:visited{
  text-decoration: none;
}
/*
 * End CSS Reset
 */

.body{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  background-image: url("img/Beach Blur.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  margin-top: 15%;
  margin-bottom: 0;
  font-family: sans-serif;
  font-size: 90px;
}

@media (max-width: 350px) {
  body{
    height: auto;
  }
  h1{
    margin-top: 0;
    font-size: 72px;
  }
}

p{
  margin-top: 40px;
  font-family: Open Sans, sans-serif;
  font-size: 24px;
}

@media (min-width: 700px) {
  p{
    margin-left: 20vw;
    margin-right: 20vw;
  }
}
