/*
 * CSS Reset
 */
body{
  margin: 0;
  padding: 0;
  border: 0;
}

a{
  text-decoration: none;
  color: #1da0f1;
}

a:hover{
  text-decoration: underline;
}

a:visited{
  text-decoration: none;
}
/*
 * End CSS Reset
 */

.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-bottom: 0;
  text-align: center;
  background-image: url("img/Beach Blur.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

h1{
  margin-top: 15%;
  margin-bottom: 0;
  font-family: sans-serif;
  font-size: 90px;
  color: white;
}

@media (max-width: 350px) {
  body{
    height: auto;
  }
  h1{
    margin-top: 0;
    font-size: 72px;
  }
}

p{
  margin-top: 40px;
  font-family: Open Sans, sans-serif;
  font-size: 24px;
  color: white;
}
