.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  color: #ffffff;
  text-align: center;
  text-shadow: var(--text-shadow);
  background: var(--main-blue);
  background-size: cover;
}

.banner-image-background {
  background-image: url("https://media.githubusercontent.com/media/dombrant/dombrant.com/master/img/palm-trees-6EBBDE.jpg");
}
/* This class will be added after the window has loaded in banner.js */

.banner > h1 {
  margin-top: 150px;
  margin-bottom: 0;
  font-size: var(--h1-font-size);
  font-family: var(--header-font-bold);
  font-weight: 700;
}

.banner > h1 > span {
  color: var(--orange);
}

.banner > p {
  width: 60vw;
  font-family: var(--header-font);
  font-size: var(--paragraph-font-size);
}

.banner > button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
  margin-bottom: 5vh;
  width: 250px;
  height: 100px;
  color: #ffffff;
  font-family: var(--header-font-bold);
  background: Transparent;
  border: 5px solid #ffffff;
}

@media (max-width: 550px) {
  .banner button {
    opacity: 1;
    margin-top: 10vh;
  }
}

.banner button:hover {
  background: var(--main-blue);
  cursor: pointer;
}

.banner button h3 {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: var(--paragraph-font-size);
  text-shadow: var(--text-shadow);
}

.down-arrow {
  max-height: 30px;
  max-width: 50px;
}

.down-arrow path {
  stroke: #ffffff;
  fill: transparent;
  stroke-width: 1px;
}
