.main-resume {
  background: #000dff;
  /* fallback for browsers that do not support gradients */
  background: linear-gradient(180deg, #000dff 10%, #6b73ff 100%);
}

.experience-h3 {
  color: #80deea;
}

.work-experience-container {
  margin-left: 15vw;
  width: 70vw;
}

.job-header {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 550px) {
  .job-header {
    flex-direction: column;
    align-items: center;
  }
}

.job-title > h3 {
  margin-bottom: 0;
  padding-right: 10px;
  padding-left: 10px;
  /* Include padding left/right declarations to make the white background extend out slightly */
  font-family: var(--header-font);
  font-size: var(--h3-font-size);
  background: var(--white);
  border-radius: 5px;
}

.job-title > p:nth-child(2) {
  margin-top: 0;
  color: var(--white);
  font-family: var(--header-font);
}

.job-dates {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 125px;
  height: 125px;
  background: var(--white);
  border-radius: 50%;
}

.job-dates > p {
  font-family: var(--body-font);
  font-size: var(--paragraph-font-size);
  text-align: center;
}

.job-description {
  margin-bottom: 25px;
  width: 40vw;
  color: var(--white);
  font-size: 18px;
  font-family: var(--body-font);
}

@media (max-width: 700px) {
  .job-description {
    width: 80vw;
  }
}

.skills-h3 {
  color: #ff5135;
}

.resume-svgs {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100vw;
}

.resume-svgs > img {
  margin-left: 5vw;
  width: 125px;
  height: 125px;
}

@media (max-width: 650px) {
  .resume-svgs > object {
    width: 75px;
    height: 75px;
  }
}

.resume-list {
  margin-bottom: 25px;
  padding-left: 10%;
  font-family: var(--body-font);
  font-size: var(--paragraph-font-size);
}

.resume-list > li {
  margin-top: 25px;
  color: var(--white);
}

.software-h3 {
  color: #c6ff00;
}

.resume-pdf-link {
  padding-bottom: 25px;
  width: 100vw;
  font-family: var(--body-font);
  font-size: var(--paragraph-font-size);
  text-align: center;
}

.resume-pdf-link > p {
  margin-bottom: 0;
  color: var(--white);
}

.resume-pdf-link > p > a {
  color: var(--white);
}
