.main-work {
  background: #5961f9;
  /* fallback for browsers that do not support gradients */
  background: linear-gradient(180deg, #ee9ae5 10%, #5961f9 100%);
}

.project {
  margin-bottom: 20vh;
  margin-left: 25px;
  width: 80vw;
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px) {
  .project {
    margin-left: 10vw;
    flex-direction: column;
  }
}

.last-project {
  margin-bottom: 0;
  padding: 25px;
}
/* Set the margin-bottom to 0 to avoid a white block between the work and contact sections
Change the padding so that there is less spacing below the last project in the code and design subsections */

.project-description {
  margin-right: 100px;
  width: 350px;
}

@media (max-width: 1000px) {
  .project-description {
    margin-bottom: 5vh;
  }
}

.project-description > h3 {
  /* Styling borrowed from the .job-title > h3 section in resume-style.css */
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  /* Include padding left/right declarations to make the white background extend out slightly */
  font-family: var(--header-font);
  font-size: var(--h3-font-size);
  text-align: center;
  background: #ffffff;
  border-radius: 5px;
}

.project-description > p {
  margin-top: 5px;
  margin-bottom: 0;
  font-family: var(--body-font);
  font-size: var(--paragraph-font-size);
}

.project-image {
  display: flex;
  flex-direction: column;
}

.project-image > a {
  font-family: var(--body-font);
  font-size: var(--paragraph-font-size);
}

.project-image > a > img {
  margin-bottom: 10px;
  width: 30vw;
  transition: all 0.2s ease-in-out;
}

.project-image-moon > a > img {
  width: 25vw;
}
/* Make the moon image smaller than all other project images, because the moon is more square than the others
Therefore when at 500px wide, it is a little taller than the other images */

@media (max-width: 1000px) {
  .project-image > a > img {
    width: 50vw;
  }
}

.project-image > a > img:hover {
  box-shadow: 0px 10px 5px;
}
