.main-about {
  background: #cb2d3e;
  /* fallback for browsers that do not support gradients */
  background: linear-gradient(180deg, #ef473a, #cb2d3e);
}

.main-about-content {
  display: flex;
}

@media (max-width: 550px) {
  .main-about-content {
    flex-direction: column;
    align-items: center;
  }
}

.main-about-content > img {
  opacity: 0;
  /* Set opacity to 0 as it will changed once the fade-in-on-scroll animation is applied */
  margin-top: 5vh;
  margin-left: 25px;
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

@media (max-width: 550px) {
  .main-about-content > img {
    margin-left: 0;
    width: 200px;
    height: 200px;
  }
}

.main-about-content > div {
  opacity: 0;
  /* Set opacity to 0 as it will changed once the fade-in-on-scroll animation is applied */
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

@media (max-width: 800px) {
  .main-about-content > div {
    margin-top: 0;
  }
}

@media (max-width: 650px) {
  .main-about-content > div {
    margin-bottom: 10vh;
  }
}

.main-about-content > div > p {
  margin-bottom: 0;
  margin-left: 5vw;
  margin-right: 25px;
  font-family: 'Merriweather', serif;
  font-size: 20px;
}
