.banner {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: #ffffff;
  text-shadow: 3px 3px 10px black;
  background-image: url('../../img/palm trees-6EBBDE.jpg');
  background-size: cover;
}

.banner h1 {
  margin-bottom: 0;
  font-size: 56px;
  font-family: 'Open Sans Bold', sans-serif;
}

.banner > p {
  width: 60vw;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
}

.banner-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
  width: 250px;
  height: 100px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background: Transparent;
  border: 5px solid #ffffff;
}

.banner-button:hover {
  background: #5ab0da;
  cursor: pointer;
}

.banner-button h3 {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 20px;
}

.down-arrow {
  position: relative;
  left: 43%;
}

.down-arrow path {
  stroke: #ffffff;
  fill: transparent;
  stroke-width: 1px;
}
