.banner-image {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url('../../img/palm trees-6EBBDE.jpg');
  background-size: cover;
}

.banner-image h1 {
  color: #ffffff;
  font-size: 56px;
  font-family: 'Open Sans Bold', sans-serif;
}
