.main-contact {
  background: #2af598;
  /* fallback for browsers that do not support gradients */
  background: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}

.contact-paragraph-container {
  display: flex;
  justify-content: space-around;
}

.contact-paragraph {
  margin-top: 5vh;
  width: 70vw;
  font-family: "Merriweather", serif;
  font-size: var(--body-font-size);
}

.email-link {
  font-weight: bold;
}

.contact-svgs {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  width: 100vw;
}

.contact-svgs > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5vw;
  width: 110px;
  height: 110px;
  background-color: #ffffff;
  border-radius: 5px;
}

.contact-svgs > a > svg {
  width: 100px;
  height: 100px;
}

.contact-svgs-twitter {
  fill: #1da1f2;
}

.contact-svgs-linkedin {
  fill: #0077b5;
}

.contact-svgs-github {
  fill: #181717;
}

.contact-svgs-behance {
  fill: #1769ff;
}
