.header-hidden {
  display: none;
  top: -100vh;
}

@keyframes header-slide-down {
  0% {
    transform: translateY(-100vh);
  }

  100% {
    transform: translateY(0);
  }
}

.header-slide-down {
  display: flex;
  position: fixed;
  top: 0;
  animation: header-slide-down 0.5s;
}

@keyframes header-slide-up {
  0% {
    transform: translateY(0vh);
  }

  100% {
    transform: translateY(-100vh);
  }
}

.header-slide-up {
  animation: header-slide-up 0.5s;
}

header {
  display: flex;
  align-items: center;
  z-index: 1;
  width: 100vw;
  min-height: 100px;
  color: #ffffff;
  background-color: #333333;
  transition: height 2s ease-in-out;
}

@media (max-width: 550px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
}

header > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 550px) {
  header > div {
    margin-top: 10%;
  }
}

.header-db,
.menu-button {
  font-size: 32px;
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: 700;
}

@media (min-width: 551px) {
  .header-db {
    margin-left: 10vw;
  }
}

.menu-button {
  margin-left: 30px;
  color: #ffffff;
  background: #333333;
  border: none;
  cursor: pointer;
}

header div svg {
  margin-left: 10%;
  width: 75px;
  height: 75px;
  fill: #ffffff;
  cursor: pointer;
}

@media (min-width: 551px) {
  .menu-button,
  header div svg {
    display: none;
    margin-left: 0;
  }
}

nav {
  width: 100vw;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-shown {
  display: flex;
}

nav li {
  position: relative;
  /* Set the li items' positions to relative so the underline below can work */
  margin-right: 30px;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

nav li:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  /* Set the visibility to hidden for browsers that don't support CSS animations */
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

nav li:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
/* Underline animation taken from http://tobiasahlin.com/blog/css-trick-animating-link-underlines/ */

nav li:hover {
  cursor: pointer;
}

@media (max-width: 550px) {
  nav ul {
    flex-direction: column;
  }

  nav li {
    display: none;
    margin-top: 5%;
  }
}
