header {
  z-index: 1;
  width: 100vw;
  height: 100px;
  color: #ffffff;
  background-color: #333333;
}

.header-fixed {
  position: fixed;
  top: 0;
}

.desktop-nav {
  display: flex;
  align-items: center;
}

.desktop-nav ul {
  display: flex;
  list-style: none;
  font-size: 24px;
}

.desktop-nav li {
  margin-top: 12px;
  margin-right: 30px;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.desktop-nav li:first-child {
  margin-right: 400px;
}
