.main div {
  width: 100vw;
  min-height: 100vh;
}

.main div h1 {
  width: 100vw;
  margin: 0;
  padding-top: 50px;
  padding-left: 10%;
  font-size: 56px;
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: 700;
}
