.main div {
  width: 100vw;
  height: 100vh;
}

.main-about {
  background: #cb2d3e;
  /* fallback for browsers that do not support gradients */
  background: linear-gradient(90deg, #ef473a, #cb2d3e);
}

.main-resume {
  background: #21d4fd;
  /* fallback for browsers that do not support gradients */
  background: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
}
