.main > div {
  width: 100vw;
  min-height: 100vh;
}

.main > div > h1 {
  opacity: 0;
  /* Set opacity to 0 as it will changed once the fade-in-on-scroll animation is applied */
  display: flex;
  width: 100vw;
  margin: 0;
  padding-top: 50px;
  padding-left: 10%;
  font-size: 56px;
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 550px) {
  .main div h1 {
    justify-content: center;
    padding-left: 0;
    text-align: center;
  }
}

.main > div > hr {
  /* Share stlying with the hr elements in main sections */
  opacity: 0;
  /* Set opacity to 0 as it will changed once the fade-in-on-scroll animation is applied */
  margin-bottom: 0;
  width: 85vw;
  border: 3px solid black;
}

.main p {
  line-height: 150%;
}
