.main-resume {
  background: #000dff;
  /* fallback for browsers that do not support gradients */
  background: linear-gradient(180deg, #000dff 10%, #6b73ff 100%);
}

.main-resume > hr {
  opacity: 0;
  /* Set opacity to 0 as it will changed once the fade-in-on-scroll animation is applied */
  width: 85vw;
  color: #333333;
}

.experience-h3 {
  opacity: 0;
  /* Set opacity to 0 as it will changed once the fade-in-on-scroll animation is applied */
  margin-top: 5%;
  margin-bottom: 0;
  padding-left: 10%;
  font-size: 44px;
  font-family: 'Open Sans Bold', sans-serif;
}

.work-experience {
  opacity: 0;
  /* Set opacity to 0 as it will changed once the fade-in-on-scroll animation is applied */
  display: flex;
  justify-content: space-around;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
}

.job-title {
  opacity: 0;
  /* Set opacity to 0 as it will changed once the fade-in-on-scroll animation is applied */
}

.job-title > h3 {
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
}

.job-title > p:nth-child(2) {
  margin-top: 0;
  color: #80deea;
  font-family: 'Open Sans', sans-serif;
}

.job-title > p:last-child {
  width: 40vw;
  font-size: 18px;
  font-family: 'Merriweather', serif;
}

.job-dates {
  opacity: 0;
  /* Set opacity to 0 as it will changed once the fade-in-on-scroll animation is applied */
  display: flex;
  justify-content: center;
  align-content: center;
  width: 125px;
  height: 125px;
  background: #ffffff;
  border-radius: 50%;
}

.job-dates > p {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  text-align: center;
}
