.main-resume {
  background: #000dff;
  /* fallback for browsers that do not support gradients */
  background: linear-gradient(180deg, #000dff 10%, #6b73ff 100%);
}

.main-resume > hr {
  opacity: 0;
  /* Set opacity to 0 as it will changed once the fade-in-on-scroll animation is applied */
  margin-bottom: 0;
  width: 85vw;
  border: 3px solid black;
}

.subheader-h3 {
  opacity: 0;
  /* Set opacity to 0 as it will changed once the fade-in-on-scroll animation is applied */
  margin-top: 5%;
  margin-bottom: 0;
  padding-left: 10%;
  font-size: 44px;
  font-family: 'Open Sans Bold', sans-serif;
}

.experience-h3 {
  color: #80deea;
}

.work-experience-container {
  opacity: 0;
  /* Set opacity to 0 as it will changed once the fade-in-on-scroll animation is applied */
  margin-left: 15vw;
  width: 70vw;
}

.job-header {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 550px) {
  .job-header {
    flex-direction: column;
    align-items: center;
  }
}

.job-title {
  opacity: 0;
  /* Set opacity to 0 as it will changed once the fade-in-on-scroll animation is applied */
}

.job-title > h3 {
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
}

.job-title > p:nth-child(2) {
  margin-top: 0;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

.job-dates {
  opacity: 0;
  /* Set opacity to 0 as it will changed once the fade-in-on-scroll animation is applied */
  display: flex;
  justify-content: center;
  align-content: center;
  width: 125px;
  height: 125px;
  background: #ffffff;
  border-radius: 50%;
}

.job-dates > p {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  text-align: center;
}

.job-description {
  margin-bottom: 25px;
  width: 40vw;
  font-size: 18px;
  font-family: 'Merriweather', serif;
}

@media (max-width: 700px) {
  .job-description {
    width: 80vw;
  }
}

.skills-h3 {
  color: #ff5135;
}

.resume-svgs {
  opacity: 0;
  /* Set opacity to 0 as it will changed once the fade-in-on-scroll animation is applied */
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100vw;
}

.resume-svgs > object {
  margin-left: 5vw;
  width: 125px;
  height: 125px;
}

@media (max-width: 650px) {
  .resume-svgs > object {
    width: 75px;
    height: 75px;
  }
}

.resume-list {
  opacity: 0;
  /* Set opacity to 0 as it will changed once the fade-in-on-scroll animation is applied */
  margin-bottom: 25px;
  padding-left: 10%;
  font-family: 'Merriweather', serif;
  font-size: 20px;
}

.resume-list > li {
  margin-top: 25px;
}

.software-h3 {
  color: #c6ff00;
}

.resume-pdf-link {
  padding-bottom: 25px;
  width: 100vw;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  text-align: center;
}

.resume-pdf-link > p {
  margin-bottom: 0;
}
