/*
 * CSS Reset
 */
body {
  margin: 0;
  padding: 0;
  border: 0;
}

a:visited {
  text-decoration: none;
}

/*
 * End CSS Reset
 */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  color: white;
  background: #6eb8de;
}

.container {
  background: url("../img/palm-trees-6EBBDE.jpg");
  background-position: center;
  background-size: cover;
}

/* This class will be added after the window has loaded in coming-soon.js */

h1 {
  margin-top: 10vh;
  margin-bottom: 0;
  font-family: sans-serif;
  font-size: 72px;
}

@media (max-width: 350px) {
  body {
    height: auto;
  }
}

p {
  margin-top: 10vh;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 150%;
}

@media (min-width: 701px) {
  p {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}

@media (max-width: 700px) {
  p {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

a {
  color: white;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}