.main-work {
  background: #5961f9;
  /* fallback for browsers that do not support gradients */
  background: linear-gradient(180deg, #ee9ae5 10%, #5961f9 100%);
}

.project {
  margin-bottom: 20vh;
  margin-left: 10vw;
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

.project:last-child {
  margin-bottom: 0;
  padding-bottom: 5vh;
}
/* Set the margin-bottom to 0 to avoid a white block between the work and contact sections
Set the padding-botton so that their is a little whitespace between the bottom of the last project and the end of the work section */

.project-header {
  width: 350px;
}

.project-header > h3 {
  /* Styling borrowed from the .job-title > h3 section in resume-style.css */
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  /* Include padding left/right declarations to make the white background extend out slightly */
  font-family: var(--header-font);
  font-size: var(--h3-font-size);
  text-align: center;
  background: #ffffff;
  border-radius: 5px;
}

.project-header > p {
  margin-top: 5px;
  margin-bottom: 0;
  font-family: var(--body-font);
  font-size: var(--body-font-size);
}

.project-image {
  display: flex;
  flex-direction: column;
}

.project-image > a {
  font-family: var(--body-font);
  font-size: var(--body-font-size);
}

.project-image > a > img {
  margin-bottom: 10px;
  width: 500px;
  transition: all 0.2s ease-in-out;
}

.project-image-moon > a > img {
  width: 400px;
}
/* Make the moon image smaller than all other project images, because the moon is more square than the others
Therefore when at 500px wide, it is a little taller than the other images */

.project-image > a > img:hover {
  box-shadow: 0px 10px 5px;
}
