/*
 * CSS Reset
 */
body {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
/*
 * End CSS Reset
 */

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  color: white;
  background-image: url('../img/palm trees-6EBBDE.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  margin-top: 15vh;
  margin-bottom: 0;
  font-family: sans-serif;
  font-size: 90px;
}

@media (max-width: 350px) {
  body {
    height: auto;
  }

  h1 {
    margin-top: 0;
    font-size: 72px;
  }
}

p {
  margin-top: 100px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 150%;
}

@media (min-width: 701px) {
  p {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}

@media (max-width: 700px) {
  p {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

.github-link {
  color: #1b1f23;
}

.twitter-link {
  color: #1da0f1;
}

.homepage-link {
  color: #ff9800;
}

.github-link,
.twitter-link,
.homepage-link {
  padding: 2px;
  background-color: #ffffff;
  border-radius: 5px;
}

.svg-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
}

.svg-container svg {
  padding: 2px;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 10px;
}

.twitter-svg {
  margin-right: 5vw;
  fill: #1da1f2;
}

.github-svg {
  fill: #181717;
}
