@keyframes fade-in-slide-up {
  from {
    opacity: 0;
    transform: translateY(25vh);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-in-slide-up {
  animation: fade-in-slide-up 0.75s 1 0.3s ease-out forwards;
  /* @keyframes duration | timing-function | delay |
iteration-count | direction | fill-mode | play-state | name */
}
