/* File to store all root scoped variables */

:root {
  --header-font-bold: "Slabo 27px Bold", serif;
  --header-font: "Slabo 27px", serif;
  --body-font: "Open Sans", sans-serif;
  --h1-font-size: 56px;
  --h3-font-size: 44px;
  --body-font-size: 20px;
  --main-blue: #6eb8de;
  --white: #ffffff;
  --orange: #fc7753;
  --text-shadow: 3px 3px 10px black;
}
